dynamic/wp-content/plugins
dynamic/wp-includes
static/node_modules
static/source/js/lib
static/build
dynamic/wp-content/uploads
dynamic/wp-content/themes/twentyfifteen
dynamic/wp-content/languages
dynamic/wp-admin
dynamic/.htaccess
dynamic/index.php
dynamic/license.txt
dynamic/readme.html
dynamic/wp-activate.php
dynamic/wp-blog-header.php
dynamic/wp-comments-post.php
dynamic/wp-config-sample.php
dynamic/wp-config.php
dynamic/wp-cron.php
dynamic/wp-links-opml.php
dynamic/wp-load.php
dynamic/wp-login.php
dynamic/wp-mail.php
dynamic/wp-settings.php
dynamic/wp-signup.php
dynamic/wp-trackback.php
dynamic/xmlrpc.php
dynamic/wp-content/index.php
dynamic/wp-content/themes/index.php
