.share
	a.icon-facebook(href="#" target="_blank")
	a.icon-twitter(href="#" target="_blank")
	a.icon-googleplus(href="#" target="_blank")
	a.icon-whatsapp(href="#" target="_blank")
	a.icon-mail(href="#" target="_blank")