ul.social
	li.menu-item: a.icon-facebook(href="#" target="_blank")
	li.menu-item: a.icon-googleplus(href="#" target="_blank")
	li.menu-item: a.icon-twitter(href="#" target="_blank")
	li.menu-item: a.icon-instagram(href="#" target="_blank")
	li.menu-item: a.icon-flickr(href="#" target="_blank")
	li.menu-item: a.icon-youtube(href="#" target="_blank")
	li.menu-item: a.icon-vimeo(href="#" target="_blank")
	li.menu-item: a.icon-tripadvisor(href="#" target="_blank")
	li.menu-item: a.icon-mail(href="#" target="_blank")