doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Atins.me
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
	body
		include _header.jade
		article.main.entry
			.wrap
				nav.breadcrumb
					ul
						li: a(href="#") Breadcrumb
						li: a(href="#") Sublink
				header.header
					h1.heading Page Title Header
					img(src="img/temp/city-2.jpg" alt="" width="952" height="350")
					time.date Published on 30/10/2015
					include _share.jade
				.content
					p A Sea of Dunes – Conjured by wind and water, a magical sandscape on the northeastern coast of Brazil is no mirage.
					p Seen from the air, the dunes look like white linens hung out to dry on a windy afternoon. In fact, the name of this place, Lençóis Maranhenses, means the “bedsheets of Maranhão”, the state in Brazil on the tropical northeastern coast where the half-moon-shaped dunes are found. By any name it is a magical desert, with wave after wave of shimmering white sand. Shoals of silvery fish swim in brilliant blue and green pools left behind by the rains. Shepherds lead caravans of goats over towering dunes. And fishermen head out to sea, guided only by the stars and the ghosts of old shipwrecks.
					p “It feels like a parallel world,” says Carolina Alvite, former director of the 600-square-mile national park created three decades ago to protect this unlikely ecosystem. It’s as if the sea near the Bahamas suddenly appeared like a mirage in the middle of the Sahara.
					p Only in this desert the mirage is real.
					p Actually, by the most technical of standards, the Lençóis isn’t really a desert, says Antonio Cordeiro Feitosa, a geographer at the Federal University of Maranhão. Forty-seven inches or so of rain fall on the region a year. By definition, a desert averages fewer than ten inches a year. And it is the presence of water that makes the sandscape possible. Two nearby rivers, the Parnaíba and Preguiças, carry sand from the interior of the continent to the Atlantic, where ocean currents push them westward. Much of the sediment is deposited along the park’s 44-mile-long shoreline. Here, during the dry season, especially in October and November, a relentless northeasterly wind drives the sand as far as 30 miles inland, sculpting crescent-shaped dunes up to 130 feet high as far as the eye can see. Cordeiro’s eye also sees the perpetual motion of Lençóis Maranhenses. In places these dunes may advance by as much as 65 feet a year. “The landscape is radically transformed by each seasonal cycle,” he says.
					p Lagoons are born anew each year after the January-to-June rains fill the valleys between the dunes. Some of these temporary bodies of water are more than 300 feet long and up to ten feet deep. In early July, at their fullest, the lagoons can become interconnected when rivers, such as the Rio Negro, cut through the dunes. So fish have a route to migrate into the lagoons, where they feed on other fish or the larvae of insects buried in the sand. A few fish species, such as the wolffish (Hoplias malabaricus), even spend the dry season dormant in the mud, emerging when the showers return. Once the rainy season ends, the lagoons begin to evaporate in the equatorial heat; their water level may drop by as much as three feet a month.
					p Fish and bugs aren’t the only residents. Besides people living in villages around the dunes, 90 men, women, and children inhabit two oases in the dunes, Queimada dos Britos and Baixa Grande, where they dwell in palm-roofed mud huts. Like the dunes, they change their routines with the seasons. In the dry season they raise chickens, goats, and cattle, grow cassava, beans, and cashews, and collect buriti and carnauba palm fibers from the restinga, or coastal vegetation, that grows near the dunes. When the rains come and planting becomes more difficult, people in the oases head for the sea, where they live in fishing camps on the beach. There they sell salted and dried Atlantic tarpon and other fish to traders, who sell them in the cities.
					p In 2002 a highway was paved between the capital of Maranhão, São Luís, and Barreirinhas, a rapidly growing country town that now promotes itself as the entry point to the park. Since then, tourism has also increased, with more than 60,000 park visitors a year now, and joyriding on the dunes on all-terrain vehicles has become a big concern for park officials.
					p “Vehicles are forbidden on the dunes,” says Alvite, who worries that such reckless activities pose a threat to migratory sandpipers and terns as well as the birds that nest there. In an effort to promote a more sustainable kind of tourism, she led a group in 2009 on a 40-mile hike from one side of the park to the other to look for signs of dune creatures, including the Brazilian slider turtle (Trachemys adiutrix),the yellow armadillo (Euphractus sexcinctus), and the white-eared opossum (Didelphis albiventris).
					p It’s no wonder that outsiders want to visit this otherworldly place, the largest coastal dune field in Brazil. Even those who know it best are surprised by its constantly shifting beauty. Manoel Brito, the late patriarch of Queimada dos Britos, used to keep a herd of 500 or so goats that roamed freely through the sands. Wandering over the dunes with his herd, he would marvel at the way the sands kept on the move. “Everything here always looks the same,” he once told me. “But every day, if you look carefully, you’ll see that the sand is in a different place. God created these white mountains and made the wind play with them forever.”
					p © By Ronaldo Ribeiro/National Geographic, 07/2010
					p.tags
						| Related subjects:
						| <a href="la_005_blogPage.html">Tag 1</a>, <a href="la_005_blogPage.html">Tag 2</a>, <a href="la_005_blogPage.html">Tag 3</a>
					include _share.jade
				.footer
					a.button.alt.prev-post(href="la_006c_template_blogPost.html") <i class="caret alt"></i> Previous post title
					a.button.alt.next-post(href="la_006b_template_blogPost_LinkPreview.html") Next post title <i class="caret"></i>
		include _footer.jade
