doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Atins.me
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
	body
		include _header.jade
		article.main.product
			.wrap
				nav.breadcrumb
					ul
						li: a(href="#") Breadcrumb
						li: a(href="#") Sublink
				header.header
					h1.heading Page Title Header
				.content
					include _share.jade
					h2 H2 Text
					p: img(src="img/temp/city-2.jpg" alt="" width="952" height="350")
					p A Sea of Dunes – Conjured by wind and water, a magical sandscape on the northeastern coast of Brazil is no mirage.
					p Seen from the air, the dunes look like white linens hung out to dry on a windy afternoon. In fact, the name of this place, Lençóis Maranhenses, means the “bedsheets of Maranhão”, the state in Brazil on the tropical northeastern coast where the half-moon-shaped dunes are found. By any name it is a magical desert, with wave after wave of shimmering white sand. Shoals of silvery fish swim in brilliant blue and green pools left behind by the rains. Shepherds lead caravans of goats over towering dunes. And fishermen head out to sea, guided only by the stars and the ghosts of old shipwrecks.
					p “It feels like a parallel world,” says Carolina Alvite, former director of the 600-square-mile national park created three decades ago to protect this unlikely ecosystem. It’s as if the sea near the Bahamas suddenly appeared like a mirage in the middle of the Sahara.
					.box.yellow
						h3.title
							i.icon-taxi
							| Taxi
						p ke white linens hung out to dry on a windy afternoon. In fact, the name of this place, Lençóis Maranhenses, means the “bedsheets of Maranhão”, the state in Brazil on the tropical northeastern coast where the half-moon-shaped dunes are found.
						ul
							li Average Ticket: R$ 40,00
					hr
					h2 H2 Text
					p: img(src="img/temp/city-2.jpg" alt="" width="952" height="350")
					p A Sea of Dunes – Conjured by wind and water, a magical sandscape on the northeastern coast of Brazil is no mirage.
					p Seen from the air, the dunes look like white linens hung out to dry on a windy afternoon. In fact, the name of this place, Lençóis Maranhenses, means the “bedsheets of Maranhão”, the state in Brazil on the tropical northeastern coast where the half-moon-shaped dunes are found. By any name it is a magical desert, with wave after wave of shimmering white sand. Shoals of silvery fish swim in brilliant blue and green pools left behind by the rains. Shepherds lead caravans of goats over towering dunes. And fishermen head out to sea, guided only by the stars and the ghosts of old shipwrecks.
					p “It feels like a parallel world,” says Carolina Alvite, former director of the 600-square-mile national park created three decades ago to protect this unlikely ecosystem. It’s as if the sea near the Bahamas suddenly appeared like a mirage in the middle of the Sahara.
					.box.green
						h3.title
							i.icon-bus
							| Bus
						p ke white linens hung out to dry on a windy afternoon. In fact, the name of this place, Lençóis Maranhenses, means the “bedsheets of Maranhão”, the state in Brazil on the tropical northeastern coast where the half-moon-shaped dunes are found.
						ul
							li (00) 0000-0000
							li 06:00 - 08:45 - 14:00 - 19:30
							li R$ 40,00
				section.sidebar
					.widget
						h3.title Locations
						p: a(href="#") São Luís Airport – São Luís
						p: a(href="#") São Luís – Barreirinhas (280km)
						p: a(href="#") Barreirinhas – Atins (~30km)
						p: a(href="#") Jericoacoara – Barreirinhas (~ 500km)
		include _footer.jade
